@font-face {
	font-family: "norsebold";
	src: url("fonts/norse-bold-webfont.woff2") format("woff2"),
		url("fonts/norse-bold-webfont.woff") format("woff");
	font-weight: normal;
	font-style: normal;
}

/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/

*,
*::before,
*::after {
	box-sizing: border-box;
}

* {
	margin: 0;
}

body {
	line-height: 1.5;
	-webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
	display: block;
	max-width: 100%;
}

input,
button,
textarea,
select {
	font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
	overflow-wrap: break-word;
}

p {
	text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	text-wrap: balance;
}

#root,
#__next {
	isolation: isolate;
}

/* Custom Properties */
:root {
	--aside-color: white;
}

/* Layout */
body {
	display: flex;
	min-height: 100dvh;
}

.aside {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	min-width: 535px;
}

.aside__container {
	display: flex;
	justify-content: center;
	align-items: center;
}

.main {
	align-self: center;
}

/* Styles */
.aside {
	background-image: url("halie-west-25xggax4bSA-unsplash.jpg");
	background-position: 50%;
	background-size: cover;
	color: var(--aside-color);
	text-align: center;
}

.aside__container {
	padding: 8px;
	background-color: rgba(0, 0, 0, 0.5);
	margin-top: 215px;
}

.aside__image {
	width: 100px;
}

.aside__title {
	font-family: "norsebold", serif;
	font-size: 6rem;
}

.aside__paragraph {
	margin-bottom: 12px;
}

.aside__link {
	color: inherit;
}
