@font-face {
	font-family: "norsebold";
	src: url("fonts/norse-bold-webfont.woff2") format("woff2"),
		url("fonts/norse-bold-webfont.woff") format("woff");
	font-weight: normal;
	font-style: normal;
}

/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/

*,
*::before,
*::after {
	box-sizing: border-box;
}

* {
	margin: 0;
}

body {
	line-height: 1.5;
	-webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
	display: block;
	max-width: 100%;
}

input,
button,
textarea,
select {
	font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
	overflow-wrap: break-word;
}

p {
	text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	text-wrap: balance;
}

#root,
#__next {
	isolation: isolate;
}

/* Custom Properties */
:root {
	--aside-color: white;
	--main-inline-spacing: 48px;
	--color-primary: #596d48;
	--input-border-color: #e5e7eb;
}

/* Layout */
body {
	display: flex;
	min-height: 100dvh;
}

.aside {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	min-width: 535px;
}

.aside__container {
	display: flex;
	justify-content: center;
	align-items: center;
}

.main {
	align-self: center;
}

/* Styles */
body {
	font-family: system-ui, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell,
		"Helvetica Neue", sans-serif;
	background-color: hsl(0, 0%, 97%);
}

.aside {
	background-image: url("halie-west-25xggax4bSA-unsplash.jpg");
	background-position: 50%;
	background-size: cover;
	color: var(--aside-color);
	text-align: center;
}

.aside__container {
	padding: 8px;
	background-color: rgba(0, 0, 0, 0.5);
	margin-top: 215px;
}

.aside__image {
	width: 100px;
}

.aside__title {
	font-family: "norsebold", serif;
	font-size: 6rem;
}

.aside__paragraph {
	margin-bottom: 12px;
}

.aside__link--inherit {
	color: inherit;
}

.main {
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.main__paragraph {
	margin-inline: var(--main-inline-spacing) 25%;
}

.main__paragraph--semi-bold {
	font-weight: 600;
}

.main__paragraph--2xl {
	font-size: 1.5rem;
}

.main__paragraph--large {
	font-size: 1.125rem;
}

.main__link {
	color: var(--color-primary);
	text-decoration: none;
}

.button {
	color: white;
	background-color: var(--color-primary);
	border: none;
	border-radius: 8px;
	font-weight: 700;
	font-size: 1.125rem;
	padding: 10px 56px;
	margin-inline: var(--main-inline-spacing);
}

.form {
	display: flex;
	flex-direction: column;
	gap: 32px;
}

.form__container {
	padding-inline: var(--main-inline-spacing);
	background-color: #fff;
	box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2);
	display: flex;
	flex-direction: column;
	gap: 20px;
	padding-block: 16px 32px;
}

.form__group {
	display: flex;
	gap: 64px;
}

.form__title {
	font-weight: 600;
}

.form__label {
	display: block;
	text-transform: uppercase;
	letter-spacing: .1em;
	font-size: .75rem;
	font-weight: 600;
}

.form__input {
	width: 225px;
	display: block;
	border: 1px solid #e5e7eb;
	border-radius: 4px;
	font-size: 1rem;
	padding-inline: 8px;
}

.form__button {
	align-self: flex-start;
}
